.card {
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 8px;
  border-radius: 2px;
  padding: 0.85rem;
  border-radius: 10px;
  box-shadow: 2px 1.5px 10px 0px rgba(164, 164, 164, .8);
}

.card__text {
  color: black;
  font-size: 21px;
}

.card__buy {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__img {
  object-fit: contain;
  max-width: 70%;
  max-height: 50%;
  align-self: center;
}

.card__price {
  align-self: end;
  margin-bottom: 8px;
  border-bottom: 1px solid black;
}